/*
 * xs - 320*568
 * sm - 568*
 * md - 768*
 * lg - 1024*768
 * xl - 1280*
 *
 * wrapper 添加 padding-y；设置background color；
 * container 添加 padding-x；设置width；
 * 段落 添加 margin-bottom
 *
 * 8px为基数，例如mb-2：margin-bottom: 2*8px
*/

.f4 {
  font-size: 16px!important;
}

.mt-2 {
  margin-top: 16px!important;
}
.mb-2 {
  margin-bottom: 16px!important;
}
.mt-4 {
  margin-top: 32px!important;
}
.mb-4 {
  margin-bottom: 32px!important;
}

.is-left {
  text-align: left;
}
.is-center {
  text-align: center;
}
.is-right {
  text-align: right;
}

.px-3 {
  padding-right: 24px!important;
  padding-left: 24px!important;
}
.py-1 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}
.py-3 {
  padding-top: 24px!important;
  padding-bottom: 24px!important;
}

.pt-3 {
  padding-top: 24px!important;
}

.pb-1 {
  padding-bottom: 8px!important;
}
.pb-2 {
  padding-bottom: 16px!important;
}

.w-20 {
  width: 160px!important;
  height: auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

// xs
@media (min-width: 320px) {
  .px-responsive {
    padding-right: 8px!important;
    padding-left: 8px!important;
  }
  .py-responsive {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
  }
  .gutter-space-responsive {
    padding-right: 8px!important;
    padding-left: 8px!important;
  }
}

//sm
@media (min-width: 568px) {
  .container-sm {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .px-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
  .py-responsive {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
  }
  .gutter-space-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
}

//md
@media (min-width: 768px) {
  .px-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
  .py-responsive {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
  }
  .gutter-space-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
}

//lg
@media (min-width: 1200px) {
  .container-lg {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .px-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
  .py-responsive {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
  }
  .gutter-space-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
}

//xl
@media (min-width: 1280px) {
  .container-xl {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .px-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
  .py-responsive {
    padding-top: 40px!important;
    padding-bottom: 40px!important;
  }
  .gutter-space-responsive {
    padding-right: 32px!important;
    padding-left: 32px!important;
  }
}

// display
// sm
@media only screen and (max-width:567px) {
  .sm-and-down-hidden {display:none!important}
}
@media only screen and (min-width:568px) {
  .sm-and-up-hidden {display:none!important}
}

//
@media only screen and (min-width:768px) and (max-width:991px)
{.hidden-sm-only{display:none!important}}

@media only screen and (max-width:991px)
{.hidden-sm-and-down{display:none!important}}

@media only screen and (min-width:992px)
{.hidden-md-and-up{display:none!important}}

@media only screen and (min-width:992px) and (max-width:1199px)
{.hidden-md-only{display:none!important}}

@media only screen and (max-width:1199px)
{.hidden-md-and-down{display:none!important}}

@media only screen and (min-width:1200px)
{.hidden-lg-and-up{display:none!important}}

@media only screen and (min-width:1200px) and (max-width:1919px)
{.hidden-lg-only{display:none!important}}

@media only screen and (max-width:1919px)
{.hidden-lg-and-down{display:none!important}}

@media only screen and (min-width:1920px)
{.hidden-xl-only{display:none!important}}
