/*
 * xs - 320*568
 * sm - 568*
 * md - 768*
 * lg - 1024*768
 * xl - 1280*
 *
 * wrapper 添加 padding-y；设置background color；
 * container 添加 padding-x；设置width；
 * 段落 添加 margin-bottom
 *
 * 8px为基数，例如mb-2：margin-bottom: 2*8px
*/

.f4 {
  font-size: 16px!important;
}

.mt-2 {
  margin-top: 16px!important;
}
.mb-2 {
  margin-bottom: 16px!important;
}
.mt-4 {
  margin-top: 32px!important;
}
.mb-4 {
  margin-bottom: 32px!important;
}

.is-left {
  text-align: left;
}
.is-center {
  text-align: center;
}
.is-right {
  text-align: right;
}

.py-3 {
  padding-top: 24px!important;
  padding-bottom: 24px!important;
}

// xs
@media (min-width: 320px) {
  .px-responsive {
    padding-right: 8px!important;
    padding-left: 8px!important;
  }
  .py-responsive {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
  }
  .gutter-space-responsive {
    padding-right: 8px!important;
    padding-left: 8px!important;
  }
}

//sm
@media (min-width: 568px) {
  .container-sm {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .px-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
  .py-responsive {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
  }
  .gutter-space-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
}

//md
@media (min-width: 768px) {
  .px-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
  .py-responsive {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
  }
  .gutter-space-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
}

//lg
@media (min-width: 1024px) {
  .container-lg {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  .px-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
  .py-responsive {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
  }
  .gutter-space-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
}

//xl
@media (min-width: 1280px) {
  .container-xl {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .px-responsive {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
  .py-responsive {
    padding-top: 40px!important;
    padding-bottom: 40px!important;
  }
  .gutter-space-responsive {
    padding-right: 32px!important;
    padding-left: 32px!important;
  }
}


